<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" 
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>

	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>

	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>

	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>

	<key>CFBundleName</key>
	<string>Slash</string>

	<key>CFBundlePackageType</key>
	<string>APPL</string>

	<key>CFBundleShortVersionString</key>
	<string>1.0</string>

	<key>CFBundleVersion</key>
	<string>1</string>

	<key>LSRequiresIPhoneOS</key>
	<true/>

	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>

	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>

	<key>UIMainStoryboardFile</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>TANTangkiwood-Display.ttf</string>
	</array>

	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>

	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>

	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>

	<key>FirebaseAppDelegateProxyEnabled</key>
	<true/>

	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>

		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>blueprint</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-blueprint</string>
				</array>
			</dict>

			<key>blueprint-echo</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-blueprint-echo</string>
				</array>
			</dict>

			<key>graphite</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-graphite</string>
				</array>
			</dict>

			<key>graphite-echo</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-graphite-echo</string>
				</array>
			</dict>

			<key>lumen-black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-lumen-black</string>
				</array>
			</dict>

			<key>lumen-blue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-lumen-blue</string>
				</array>
			</dict>

			<key>studio-black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-studio-black</string>
				</array>
			</dict>

			<key>studio-blue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-studio-blue</string>
				</array>
			</dict>

			<key>wireframe-black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-wireframe-black</string>
				</array>
			</dict>

			<key>wireframe-blue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-wireframe-blue</string>
				</array>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
